nav.navbar role="navigation" aria-label="main navigation"
  .navbar-brand
    a.navbar-item href="/"
      img src="https://s3-eu-west-1.amazonaws.com/tpd/screenshotlogo-domain/516b2d9d0000640005262e0c/198x149.png" height="50px"
    a.navbar-burger.burger role="button" aria-label="menu" aria-expanded="false"
      span aria-hidden="true"
        '1
      span aria-hidden="true"
        '2
      span aria-hidden="true"
        '3
  .navbar-menu
    .navbar-start
      a.navbar-item
        'ASANA
      a.navbar-item
        '1
      a.navbar-item
        '2
    .navbar-end
      .navbar-item
        .buttons
          -if (!user_signed_in?)
            = link_to "Log in", new_user_session_path, class: 'button is-primary'
            = link_to "Sign Up", new_user_registration_path, class: 'button is-light'
          -else
            = link_to "Log out", destroy_user_session_path, method: :delete, class: 'button is-primary'
